.post-container{
    max-width: 1160px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.title{
    color: #2a8738;
    height: 30px;
    width: 99%;
    border: none;
    font-size: 29px;
    margin-bottom: 20px ;
    margin-top:  20px;
    font-weight: bold;
}

.thumbnail{
    height: 350px;
    width: 100%;
    object-fit: cover;
}
.in{
    width:  70%;
    height: 30px;
}
.content{
    font-size: 25px;
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    display: block;
    border: none;
    resize: none;
}
.content:focus{
    border: none;
}
.author{
    margin-top: 20px;
    font-size: 27px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-left: 40px;
    border: none;
    width: 50%;

}
.btn-post button{
    border: solid 1px #2a8738;
    border-radius: 3px;
    background-color: #2a8738;
    color: #fff;
    font-weight: bold;
    height: 30px;
    width: 100px;
}
.btn-post button:hover{
    background-color: #fff;
    color: #2a8738;
}
.btn-post{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.tags-post{
    height: 30px;
    margin-top: 20px;
}
.status-post{
    height: 30px;
    margin-top: 20px;

}
