/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 7, 2022, 9:09:56 PM
    Author     : Dinh Nam
*/

.proImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.proContainer {
    max-width: 1180px;
    min-height: calc(100vh - 140px - 170px);
    margin: 0 auto;
    margin-bottom: 20px;
}

.proTable {
    width: 100%;
}

.list-top {
    width: 100%;
}

.list-top-top h3 {
    color: #2a8738;
    font-weight: bold;
}

.list-top-bottom {
    width: 100%;
    margin-top: 20px;
}

.ltb-left {
    float: left;
}

.ltb-right {
    float: right;
}

.list-bottom {
    margin-top: 20px;
}


/* table start here*/

.proTable tr:first-child {
    position: sticky;
    top: 140px;
}

.proTable tr:not(tr:first-child) {
    height: 110px;
}

tr th {
    height: 50px;
    font-size: 15px;
    color: #fff;
    background-color: #333;
    text-align: center;
}

tr td {
    text-align: center;
    font-weight: bold;
}

th:first-child {
    width: 110px;
}

th:last-child {
    width: fit-content;
}

tr td:first-child {
    text-align: center;
}

td {
    padding: 5px 5px 2px 5px;
}

tr:nth-child(odd) {
    background-color: #cfcfcf;
}

tr:nth-child(even) {
    background-color: #ecebeb;
}

.list-top-top button,
.ltb-left form button,
.ltb-right button,
.ltb-left button,
.proTable tr td button {
    border: solid 1px #2a8738;
    border-radius: 3px;
    background-color: #2a8738;
    color: #fff;
    font-weight: bold;
    height: 30px;
}

.list-top-top button:hover,
.ltb-left form button:hover,
.ltb-right button:hover,
.ltb-left button:hover,
.proTable tr td button:hover {
    background-color: #fff;
    color: #2a8738;
}

.ltb-left form input,
.ltb-right form select{
    height: 30px;
}

.list-top-top .ltt-active {
    background-color: #fff;
    color: #2a8738;
}

select {
    background-color: #ffffff00;
    border-radius: 0;
}
