<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProductController</servlet-name>
        <servlet-class>controller.SortProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProController</servlet-name>
        <servlet-class>controller.ListProController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>controller.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashController</servlet-name>
        <servlet-class>controller.AdminDashController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailController</servlet-name>
        <servlet-class>controller.UserDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrdersController</servlet-name>
        <servlet-class>controller.MyOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCompletionController</servlet-name>
        <servlet-class>controller.CartCompletionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartContactController</servlet-name>
        <servlet-class>controller.CartContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashboardController</servlet-name>
        <servlet-class>controller.SaleDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrder</servlet-name>
        <servlet-class>controller.ManageOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetail</servlet-name>
        <servlet-class>controller.OrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostController</servlet-name>
        <servlet-class>controller.EditPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackManagerController</servlet-name>
        <servlet-class>controller.FeedbackManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetailController</servlet-name>
        <servlet-class>controller.FeedbackDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterFeedbackController</servlet-name>
        <servlet-class>controller.FilterFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInformationController</servlet-name>
        <servlet-class>controller.OrderInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductController</servlet-name>
        <servlet-class>controller.ManageProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>controller.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSliderController</servlet-name>
        <servlet-class>controller.ManageSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSliderController</servlet-name>
        <servlet-class>controller.EditSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSliderController</servlet-name>
        <servlet-class>controller.AddSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSliderController</servlet-name>
        <servlet-class>controller.DeleteSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostController</servlet-name>
        <servlet-class>controller.AddPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeddbackController</servlet-name>
        <servlet-class>controller.DeleteFeddbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassController</servlet-name>
        <servlet-class>controller.NewPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePostController</servlet-name>
        <servlet-class>controller.ManagePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassController</servlet-name>
        <servlet-class>controller.ResetPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPostController</servlet-name>
        <servlet-class>controller.SearchPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VailidateOTPController</servlet-name>
        <servlet-class>controller.VailidateOTPController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedBackController</servlet-name>
        <servlet-class>controller.EditFeedBackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListSaleController</servlet-name>
        <servlet-class>controller.CustomerListSaleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetailSaleController</servlet-name>
        <servlet-class>controller.CustomerDetailSaleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostListController</servlet-name>
        <servlet-class>controller.PostListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailController</servlet-name>
        <servlet-class>controller.PostDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/homeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortProductController</servlet-name>
        <url-pattern>/sort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProController</servlet-name>
        <url-pattern>/listProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cartcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/registerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashController</servlet-name>
        <url-pattern>/adminDash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailController</servlet-name>
        <url-pattern>/userdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrdersController</servlet-name>
        <url-pattern>/myOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCompletionController</servlet-name>
        <url-pattern>/cartCompletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartContactController</servlet-name>
        <url-pattern>/cartContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashboardController</servlet-name>
        <url-pattern>/SaleDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrder</servlet-name>
        <url-pattern>/manageOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetail</servlet-name>
        <url-pattern>/orderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostController</servlet-name>
        <url-pattern>/editPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackManagerController</servlet-name>
        <url-pattern>/feedbackManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetailController</servlet-name>
        <url-pattern>/feedbackDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterFeedbackController</servlet-name>
        <url-pattern>/filterFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInformationController</servlet-name>
        <url-pattern>/orderInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductController</servlet-name>
        <url-pattern>/productListSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/productDetailSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSliderController</servlet-name>
        <url-pattern>/sliderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSliderController</servlet-name>
        <url-pattern>/sliderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSliderController</servlet-name>
        <url-pattern>/addSlide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSliderController</servlet-name>
        <url-pattern>/deleteSlide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListSaleController</servlet-name>
        <url-pattern>/CustomerListSaleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetailSaleController</servlet-name>
        <url-pattern>/CustomerDetailSaleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostListController</servlet-name>
        <url-pattern>/PostListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailController</servlet-name>
        <url-pattern>/PostDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostController</servlet-name>
        <url-pattern>/addpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeddbackController</servlet-name>
        <url-pattern>/deletefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassController</servlet-name>
        <url-pattern>/newpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostListController</servlet-name>
        <url-pattern>/postlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassController</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPostController</servlet-name>
        <url-pattern>/searchpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VailidateOTPController</servlet-name>
        <url-pattern>/otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedBackController</servlet-name>
        <url-pattern>/editFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePostController</servlet-name>
        <url-pattern>/managePost</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
